{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'stylesheet/application.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Sentichat</span>
          </a>
    
          <ul class="nav nav-pills">
            {% if request.user.is_authenticated %}
            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Your chats</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
            <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Log out</a></li>
            {% else %}
            <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Log in</a></li>
            {% endif %}
          </ul>
        </header>
        {% block content %}{% endblock %}
    </div>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
