{% extends 'main.html' %}

{% block thread %}
<div class="messages">
    {% for message in messages %}
    <div>
        <strong>{{ message.sender.username }}</strong>: {{ message.content }}
        <br>
        <small>Sent on: {{ message.timestamp }}</small>
    </div>
    {% empty %}
    <p>No messages in this chatroom yet.</p>
    {% endfor %}
</div>
<div class="text-box">
    <form method="post" action="{% url 'send' chatroom.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send</button>
    </form>
</div>
{% endblock %}
